.type-10 {
  font-family: "Poppins";
  color: #acacac; }
  @font-face {
    font-family: PoppinsLight;
    src: url(../fonts/Poppins-Light.ttf); }
  @font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.ttf); }
  .type-10 .bg-footer {
    background-image: url('../images/10-hinh1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%; }
    .type-10 .bg-footer .container-custom {
      max-width: 1210px !important;
      margin: auto; }
      .type-10 .bg-footer .container-custom .img-logo {
        width: 176px; }
      .type-10 .bg-footer .container-custom .text-contact {
        font-size: 12px;
        color: #acacac;
        letter-spacing: 1px; }
      .type-10 .bg-footer .container-custom a {
        text-decoration: none;
        font-family: "PoppinsLight";
        color: #025a8d;
        font-size: 13px;
        cursor: pointer; }
        .type-10 .bg-footer .container-custom a:hover {
          color: white;
          transition: 0.35s all ease; }
      .type-10 .bg-footer .container-custom .form-control {
        border-radius: 0;
        border: 1px solid #acacac;
        box-shadow: none;
        background: none !important;
        font-size: 13px; }
        .type-10 .bg-footer .container-custom .form-control:focus {
          box-shadow: none !important;
          background: #FCF8E3 !important;
          border-color: #FBEED5 !important;
          opacity: 1; }
      .type-10 .bg-footer .container-custom h3 {
        font-size: 14px; }
      .type-10 .bg-footer .container-custom .icon {
        width: 40px;
        height: 40px;
        border: 1px solid #acacac;
        cursor: pointer; }
